SOURCE_ELASTICSEARCH_HOST=https://xpoker-els.ingsolutions.co
SOURCE_ELASTICSEARCH_USERNAME=admin
SOURCE_ELASTICSEARCH_PASSWORD=replace_with_source_password
SOURCE_ELASTICSEARCH_TLS_REJECT_UNAUTHORIZED=true

TARGET_ELASTICSEARCH_CLOUD_ID=replace_with_elastic_cloud_id
TARGET_ELASTICSEARCH_API_KEY=replace_with_elastic_cloud_api_key
TARGET_ELASTICSEARCH_TLS_REJECT_UNAUTHORIZED=true
