SOURCE_ELASTICSEARCH_HOST=replace_with_source_host
SOURCE_ELASTICSEARCH_USERNAME=replace_with_source_user
SOURCE_ELASTICSEARCH_PASSWORD=replace_with_source_password
SOURCE_ELASTICSEARCH_TLS_REJECT_UNAUTHORIZED=true

TARGET_ELASTICSEARCH_CLOUD_ID=replace_with_elastic_cloud_id
TARGET_ELASTICSEARCH_API_KEY=replace_with_elastic_cloud_api_key
TARGET_ELASTICSEARCH_TLS_REJECT_UNAUTHORIZED=true
